.flex-container {
    display: flex;
    flex-direction: row; /* as a row */
    justify-content: flex-end; /* on the main axis, each item to end */
    flex-wrap: nowrap; /* all flex items on one line */
    column-gap: 10%;
    flex-basis: 20%;
    width: 100%;
    background: white;
}

.flex-item {
    width: 10%;
    height: 100px;
    margin: 5px;
    align-items: center;
  }

  .green {
    background: lightgreen;
  }

  .red {
      background-color: red;
  }

  .flex-container2 {
    display: flex;
    flex-direction: row; /* as a row */
    flex-wrap: nowrap; /* all flex items on one line */
    flex-basis: 20%;
    width: 100%;
    background: white;
}

.flex-item1 {
    width: 20%;
    border: 5px;
    height: 100px;
  }

  .flex-item2 {
    width: 40%;
    height: 100px;
  }
  .flex-item3 {
    width: 15%;
    height: 100px;

    align-items: center;
  }
  .flex-item4 {
    width: 15%;
    height: 100px;
    align-items: center;
  }
  .flex-item5 {
    width: 10%;
    height: 100px;
 
    align-items: center;
  }