
#titlearea  {
  border: 1px solid;
  padding: 5px;
  margin-bottom: 5px;
}

.button:hover {background-color: #3e8e41}

.button:focus {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.bufferarea {
    padding-top: 30px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.postingbox {
  border: 1px solid;
  padding: 10px;
  margin: 20px;
}

.postingbox .deletebutton { float:right}

.area {
  margin-left: 20px;
}